* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Georgian', sans-serif;
}

body {
  background: #F8FAFC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  font-weight: bold;
  color: #4aa3df;
}

header a.home {
  text-decoration: none;
  color: #000000; 
}

/* Layout */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

/* Title section */
.title-box {
  text-align: left;
  max-width: 400px;
  margin: 0;

}
/* "Hi," */
.title-box h1 {
  font-size: 40px;
  font-weight: 350;
  margin-bottom: 6px;
  margin-left: -55px;
  color: #1E293B;
}

/* "Upload your bill" */
.title-box p {
  font-size: 40px;
  font-weight: 700;
  color: #1E293B;
  margin-left: -55px;
}

/* "Get a clear, visual summary of your utility costs" */
.title-box p + p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 550;
  color: #64748B;
  margin-left: -55px;
}

/* upload container */
.upload-box {
  margin-top: 10px;
  width: 420px;
  height: 330px;
  background: #F8FAFC;
  border: 2px dashed rgb(203, 213, 225);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

/* upload container attributes */
.upload-content {
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Icon */
.upload-icon {
  margin-top: 75px;
  max-width: 20%; 
  height: auto;     
}

/* "Click to upload" */
.upload-content h3 {
  color: #64748B;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 5px;
}

/* "PDF, JPG or PNG" */
.upload-content h4 {
  color: #64748B;
  font-size: 14px;
}

/* Continue Button */
.continue-btn {
  display: flex;             
  justify-content: center;   
  align-items: center;       
  text-decoration: none;     
  margin-top: 40px;
  width: 310px;
  height: 65px;
  background: #CBD5E1;
  color: #64748B;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;           
  align-self: center;
  transition: all 0.2s ease;
  box-shadow: 3px 3px 5px rgb(176, 176, 176);
}


/* Button Hover */
.continue-btn:hover {
  background: #3B82F6;
  color: #fff;
  opacity: 0.9;
}


/* Disclaimer Box */
.disclaimer-box {
margin-top: 40px;
width: 540px;
height: 110px;
background: #EFF6FF;
border: 1px solid #BFDBFE;
border-radius: 6px;
display: flex;
align-items: center;
padding: 0 20px;
margin-bottom: -30px;
}

/* Disclaimer text */
.disclaimer-box p {
font-size: 16px;
color: #1E40AF;
text-align: left;
}


/* Footer */
footer {
  display: flex;
  gap: 20px;
  padding: 15px 40px;
  background: #fff;
  border-top: 1px solid #ddd;
  font-size: 12px;
  color: #1E293B;
  font-weight: 600;
}

footer span {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: #000000; 
}

